.email-input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.email-label {
    font-size: 20px;
    margin-bottom: 10px;
}
.email-input {
    width: 350px;
    outline-color: rgb(0, 117, 226);
}