* {
    padding: 0px;
    margin: 0px;
    min-width: fit-content;
}
.main-display {
    display: flex;
    background-color: rgb(189, 189, 189);
}
.form-style {
    border: 2px solid rgb(0, 0, 0);
    margin: 30px 0px 30px 20px;
}
.demo-style {
    margin: 30px;
    margin-left: 25px;
    height: 1000px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

 @media (max-width: 1000px) {
    .main-display {
        flex-direction: column;
    }
    .form-style {
        margin-right: 25px;
    }
    
} 

@media (min-width: 1001px) {
    .demo-style {
        margin-right: 50px;
    }
} 
