.preview-section {
    padding-right: 12px;
    padding-left: 12px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif, 'Times New Roman';
    background-color: rgb(255, 255, 255);
}
.demographics-preview {
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 40px 5px 0px 5px;
}
.name-preview {
    margin: 15px 10px 0px 0px;
    font-size: 28px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif, 'Times New Roman';
}
.contact-info {
    line-height: 22px;
    margin-bottom: 5px;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif, 'Times New Roman';
}
.education-preview-title {
    margin: 50px 383px 20px 20px;
    font-size: 25px;
    text-decoration: underline;
}
.education-preview-info {
    margin-left: 20px; 
    line-height: 22px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.attended-preview {
    grid-column: 2;
    font-size: 14px;
}
.school-preview {
    font-size: 18px;
    grid-row: 1;
}
.degree-preview {
    font-size: 14px;
}
.gpa-preview, .graduate-preview {
    font-size: 14px;
    grid-column: 1;
}
.employment-preview-title {
    margin: 50px 302px 20px 20px;
    font-size: 25px;
    text-decoration: underline;
}
.employment-preview-info {
    margin-left: 20px; 
    margin-right: 20px;
    line-height: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.employment-length-preview {
    grid-column: 2;
    grid-row: 1;
    font-size: 14px;
}
.company-preview {
    font-size: 18px;
    grid-row: 1;
    margin-right: 20px;
}
.position-preview {
    font-size: 14px;
    grid-column: 1;
}
.duties-preview {
    font-size: 14px;
    grid-column: 1 / 3;
    line-height: 20px;
    margin: 5px 0px;
    font-weight: normal;
}
