.dates-attended-section {
    margin-bottom: 20px;
}
.dates-attended-label {
    font-size: 20px;
    margin-bottom: 10px;
}
.calendar-section {
    display: flex;
    
}
.began-calendar {
    margin-right: 10px;
}
.calendar-label {
    margin: 5px;
    margin-left: 25px;
}
.calendar {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    outline-color: rgb(0, 117, 226);
}