.duties-input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.duties-label {
    font-size: 20px;
    margin-bottom: 10px;
}
.duties-input {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    outline-color: rgb(0, 117, 226);
}